// SASS Variables
@import 'src/scss/base/colors';
@import 'src/scss/base/mediaqueries';

.savings-user-information-timeline {
    .savings-details-info-screen {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        position: relative;

        .details-form {
            padding: 20px;
        }

        .select-field:after {
            right: 17px;
            top: 46px;
        }
    }
}


.picker div:nth-child(1) div {
    display: none !important;
}

.picker :nth-child(2) {
    bottom: 0;
    position: relative;
}

@media #{$tablet} {
    .savings-user-information-timeline {
        .timeline-navigation-items {
            padding-bottom: 0;
        }

        .savings-details-info-screen {
            h1 {
                margin-bottom: 0;
            }

            span {
                line-height: 1.5;
            }

            .loan-features {
                margin-top: -50px !important;
            }

        }

        .details-form {
            position: relative;
            width: 320px;

            .picker {
                padding-bottom: 25px;
            }
        }
    }
}