@import 'src/scss/base/colors.scss';
@import 'src/scss/base/mediaqueries.scss';

$md-radiobutton-checked-color: #b4b4b4;
$md-radiobutton-border-color: rgba(180, 180, 180, 1);
$md-radiobutton-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-radiobutton-checked-color-disabled: rgba(0, 0, 0, 0.26);

$md-radiobutton-margin: 1em 0;
$md-radiobutton-size: 1.25em;
$md-radiobutton-padding: .25em;
$md-radiobutton-border-width: 2px;
$md-radiobutton-border-radius: 0.125em;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #fff;
$md-radiobutton-label-padding: .75em;

.md-radiobutton {
  position: relative;
  margin: $md-radiobutton-margin;
  text-align: left;

  &.md-radiobutton-inline {
    display: inline-block;
  }
  label {
    cursor: pointer;
    display: inline;
    line-height: $md-radiobutton-size;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
    &:not(:empty) {
      padding-left: 0;
    }
    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }
    &:before {
      // box
      width: $md-radiobutton-size;
      height: $md-radiobutton-size;
      background: #fff;
      border: $md-radiobutton-border-width solid $md-radiobutton-border-color;
      border-radius: $md-radiobutton-border-radius;
      cursor: pointer;
      transition: background .3s;
    }
  }

  input[type="radiobutton"] {
    outline: 0;
    visibility: hidden;
    width: $md-radiobutton-size;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit;

    &:checked {
       + label:before{
        background: white;
        // border:none;
      }
      + label:after {
        $md-checkmark-size: $md-radiobutton-size - 2 * $md-radiobutton-padding;
        transform: translate($md-radiobutton-padding, ($md-radiobutton-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg);
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;
        border: $md-checkmark-width solid grey;
        border-top-style: none;
        border-right-style: none;
      }
    }

    &:disabled {
      + label:before{
        border-color: $md-radiobutton-border-color-disabled;
      }
      &:checked {
        + label:before{
          background: $md-radiobutton-checked-color-disabled;
        }
      }
    }
  }
}
@media #{$tablet} {
  .md-radiobutton {
    max-width: 320px;
  }

}
