@import 'src/scss/base/colors.scss';
@import 'src/scss/base/font-families';
@import 'src/scss/base/mediaqueries';

.select-field {
    position: relative;

    label {
        .input-error {
            color: $error-color;
        }
    }

    p {
        line-height: 25px;
    }
}

.select-field:after {
    color: $border-color-light;
    content: 'keyboard_arrow_down';
    font-family: $material-icons;
    font-size: 1.5em;
    padding: 0 0 4px;
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 48px;
}

select::-ms-expand {
    display: none;
}

.select-field select {
    -moz-appearance: none;
    -ms-word-break: normal;
    -webkit-appearance: none;
    appearance: none;
    background-color: $white;
    background-image: none;
    border: 1px solid $font-color;
    color: $font-color;
    display: block;
    float: right;
    font-size: 1.2em;
    height: 50px;
    line-height: 1.75;
    margin: 0;
    width: 300px;
    word-break: normal;

    .active:not(:first-child) {
        color: $font-color;
    }
}

@media #{$tablet} {
    .select-field {
        select {
            width: 300px;
        }
    }
}
