// SASS Variables
@import "src/scss/base/colors.scss";
@import "src/scss/base/mediaqueries.scss";
.bottom-drawer {
  display: none;
}

@media #{$tablet} {
  .bottom-drawer {
    position: fixed;
    left: 0;
    bottom: 0px;
    z-index: 200;
    background-color: $background-grey;
    padding: 27px 0px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    width: 100vw;
    display: block;
  }
  .bottom-open {
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    .topbar-navigation-items {
      width: 100vw;
      justify-content: space-evenly;
    }
    .topbar-navigation-items > * {
      margin-left: 5%;
      margin-right: 5%;
      article {
        display: none;
      }
    }
  }

  .bottom-open,
  .bottom-close {
    img {
      visibility: hidden;
    }
    z-index: 3;
    height: 80px;
    li:first-child, li:last-child {
      display: none;
    }
  }

  .bottom-close {
    transform: translateY(100%);
  }

  .side-logo {
    height: 11%;
    margin-bottom: 32px;
    margin-left: 15px;
  }
}
