// SASS Variables
@import 'src/scss/base/colors';
@import 'src/scss/base/mediaqueries';

.withdrawal-loan-screen {
    display: block;
}

@media #{$tablet} {
    .withdrawal-loan-screen {
        display: flex;
        flex-direction: column;

        .header {
            align-self: center;
            width: 87vw;
        }

        .btns-box {
            display: flex;
            flex-direction: column;

            button:nth-child(1) {
                order: 2;
            }

            button:nth-child(2) {
                order: 1;
            }
        }
    }
}
