// SASS Variables
@import 'src/scss/base/colors.scss';
@import 'src/scss/base/mediaqueries.scss';

.inbox-info-screen {
    margin-bottom: 50px;

    h1 {
        padding-bottom: 20px;
        padding-left: 20px;
    }
}
.row.disable-manage-loan {
    div:nth
}
.emails-container {
    border: 1px solid $light-grey;
    border-bottom: 0 solid $light-grey;

    input:not([type='checkbox']),
    .search-input {
        height: 35px;
        position: relative;
        top: 23px;
        width: 280px;
    }

    .search-input {
        height: 80px;
        left: 13px;
        position: relative;
        top: 0;
    }
}

.email-list-item {
    border-bottom: 1px solid $light-grey;
}

.email-heading {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    font-weight: 700;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    width: 700px;
}

.email-date {
    float: right;
    font-size: 0.8rem;
    padding-top: 0;
}

.email-body {
    background: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: start;
}

.email-body > * {
    margin-bottom: 0;
    margin-top: 0;
}

.emails-container {
    display: flex;
    flex-direction: row;
    max-width: 990px;
}

.email-panel {
    border-bottom: 1px solid $light-grey;
    display: flex;
    flex-direction: column;
    width: 700px;
}

@media (max-width: 768px) {
    .inbox-info-screen {
        margin-bottom: 90px;    
    }
    .emails-container {
        flex-direction: column;
    }

    .email-list {
        padding-left: 0;
        padding-right: 0;
    }

    .email-heading,
    .email-panel {
        width: 100%;
    }

    .email-heading > * {
        margin-left: 10px;
        margin-right: 10px;
    }

    .email-date {
        margin-left: 10px;
    }
}
