// SASS Variables
@import 'src/scss/base/colors';
@import 'src/scss/base/mediaqueries';

.manage-loan-screen {
    max-width: 768px;
    width: 60vw;

    p {
        align-self: center;
        margin-top: 0px;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .primary-color-stripe {
        padding-bottom: 0px!important;
        padding-top: 0px!important;
        width: 100% !important;
        margin-top: 20px;

        .primary-color-stripe-content {
            justify-content: center;
            max-width: 560px;
        }
    }

    .header {
        display: flex;
        flex-direction: column;

        h2 {
            align-self: center;
            height: 100%;
            line-height: 35px;
            margin-bottom: 20px;
            max-width: 570px;
            width: 50vw;

            &.bold {
                height: 100%;
                max-width: 570px;
                top: 25px;
                width: 50vw;
            }
        }

        .btns-box {
            align-self: center;
            display: flex;
            flex-direction: row;

            button {
                align-self: center;
            }
        }

        .checkboxes {
            label {
                padding: 10px 0;
            }

            input {
                // -webkit-appearance: radio;
                vertical-align: middle;
                width: auto;
            }
        }

        .react-tabs {
            width: 80vw;
        }

        .primary-color-stripe {
            width: 100% !important;
        }
    }

    .react-tabs__tab-panel--selected {
        border-bottom: 1px solid $border-color-light;
        border-left: 1px solid $border-color-light;
        border-right: 1px solid $border-color-light;
        display: flex;
        flex-direction: column;
        min-height: 700px;
        position: relative;
        h3 {
            max-width: 650px;
            width: 100%;
        }
    }

    .react-tabs__tab-list {
        margin: 0 !important;
        display: flex;
        justify-content: flex-start;
    }

    .react-tabs__tab {
        background-color: $white;
        border: 1px solid $border-color-light !important;
        border-radius: 5px 5px 0 0;
        left: auto;
        margin-right: 10px;
        padding: 10px 20px !important;
    }

    .react-tabs__tab--selected {
        background-color: $primary-brand-color !important;
        border: 1px solid $primary-brand-color !important;
        color: $white !important;
    }

    .form-row {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    h2 {
        margin-bottom: 20px;
    }
}

@media #{$tablet} {
    .manage-loan-screen {
        min-width: 310px;
        width: 60vw;

        .react-tabs {
            align-self: center;
            margin-bottom: 80px;
            position: relative;
            top: 35px;

            .checkboxes {
                min-width: 290px;
                width: 50vw;
            }
        }

        .primary-color-stripe {
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            width: 100% !important;
        }

        .primary-color-stripe-content {
            flex-direction: column !important;

            article {
                height: 100px;

                h1,
                h4 {
                    height: auto;
                    line-height: 1em;
                    margin-bottom: 0;
                }
            }
        }

        .primary-color-stripe-content>* {
            margin-bottom: 0;
            margin-top: 0;
        }

        button {
            margin-bottom: 70px !important;
            top: 30px;
        }

        .react-tabs__tab {
            left: -4px !important;
        }

        .header {
            align-self: center;
            height: 100%;
            margin-top: 25px;
            max-width: 100%;

            h2 {
                align-self: center;
                margin-bottom: 0;
                margin-top: 0;
                min-width: 270px;
                width: 50vw;

                &.bold {
                    min-width: 270px;
                    top: 0;
                    width: 50vw;
                }
            }

            .btns-box {
                flex-direction: column;

                button {
                    margin: 20px !important;
                }
                a:nth-child(1) {
                    order: 2;
                }
            }
        }

        .footer-items {
            align-self: center;
        }

        .text-field {
            input:not([type='checkbox']) {
                width: 250px;
            }
        }

        .react-tabs__tab-panel--selected {
            display: flex;
            h3 {
                max-width: 600px;
                width: 80%;
            }
        }

        p {
            position: relative;
            top: 0;
        }

        .topbar-navigation-item {
            a {
                height: 40px;
                padding: 0;
            }
        }

        .form-row {
            padding-bottom: 10px;
            padding-top: 0;
        }

        .manage-loan-form {
            margin-bottom: 10px;
        }
        .react-tabs__tab-list {
            margin: 0 !important;
            display: flex;
            justify-content: center;
        }
    
        .react-tabs__tab {
            background-color: $white;
            border: 1px solid $border-color-light !important;
            border-radius: 5px 5px 0 0;
            left: auto;
            margin-right: 0px;
            padding: 10px 20px !important;
        }
    }
}
