// SASS Variables
@import 'src/scss/base/colors';
@import 'src/scss/base/mediaqueries';

.card-details-form {
    .red-box.address {
        padding:  20px;
        label {
            width: 100%;
        }
      } 
    .red-box {
        .mb-3 {
            margin-bottom: 0rem !important; 
        }
    }
    .row.mb-3.address {
        height: 28px!important;
    }
    .form-group {
        margin-bottom: 0rem; 
    }
    .creditcard-icon-bg{
        position:relative;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5px;
        width: 348px;
        margin-left: -7px;
        img {
            height: auto;
            width: 100%;
        }
        .row {
            margin-right:unset;
            margin-left: 13px;
        }
        .creditcard-row-middle {
            margin-top: -5px;
        }
        .creditcard-row-top {
            margin-top: 0px;
        }
        
        .creditcard-row-bottom {
            display:flex;
            flex-direction: row;  
            justify-content: space-between;
            margin-top: -3px;
            margin-left: -3px;  
        }
        .creditcard-row-bottom>* {
            margin-left: 15px;
        }
       .creditcard-inputs {
            position: absolute;
            display: block;
            margin-top: 37px;
            padding-right: 20px;
            margin-left: 30px;
            justify-content: space-between;
            height: 120px;
            input {
                background-color: transparent;
                border-width: 1px;
                border-style: inset;
                border-color: $font-color;
                border-left: white;
                border-right: white;
                border-top: white;
                color:$font-color;
                font-family: 'Courier Prime';
                font-size: 1.28em;
                font-variant: normal;
                font-weight: 700; 
                height: 19px;
            }
            input:focus {
                outline-offset: 0px;
                outline: -webkit-focus-ring-color auto 0px;
            }
            input:-internal-autofill-selected {
                background-color: transparent!important;
            }

       }
    }
    
    .red-box.creditcard {
        align-content: center;
        display: flex;
        .btn {
            margin-right: 0!important;
        }
        #paymentErrors {
            position: relative;
            color: red;
            margin-top: 0px;
            margin-bottom: 25px;
            text-align: left;
            margin-left: 5px;
        }
    }
    label {
        color: $font-color;
        font-size: 0.7em;
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .form-row.exp-month-year {
        display: flex;
        flex-direction: column;
        input:nth-child(1){
            width:25px;
            margin-right: 5px;
        }
        input:nth-child(3){
            width:52px;
            margin-left: 3px;
        }
    }
    .form-row.cvc {
        display: flex;
        flex-direction: column;
        margin-right: 19px;
        input:nth-child(2){
            width:52px;
        }
    }
}